* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family:'Roboto', sans-serif;
      
}
.col-wrap {
    height: 100%;
    display: flex;  
}
.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.col h2 {
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}
.col h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.col button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}
.col button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.change-colors {
    margin-top: -30px;
    display: none;
    justify-content: center;
}

.change-colors button {
    padding: 5px 20px;
    font-family:'Roboto', sans-serif;
}
@media (max-width: 768px) {
    .change-colors {        
        display: flex;        
    }	
    .change-colors button {
        width: 100%;
    }
}
@media (max-width: 575px) {  
    .col h2 { 
        font-size: 10px;
    }  
}
